* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    //font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    background-color: $buttons;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

a {
    text-decoration: none;
}

