@media screen and (min-width: 1440px) {
    body {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    .container {
        flex-direction: row;
        min-height: 100vh;
        width: 66%;
    }

    .card {
        padding: 5rem;
        &:first-child {
            border-radius: 1rem 0 0 1rem;
        }
        &:last-child {
            border-radius: 0 1rem 1rem 0;
        }
    }

    .btn {
        margin-top: 8.5rem;
    }
}